<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style_map.css">
    <title>Whatodo</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="dashoard" content="width=device-width, initial-scale=1.0">
    <title>MAP</title>
</head>

<body>    
    <div class="container">
        <div class="left_bar">
            
            <img class = "logo" src="public/imgs/logo3.svg">
            <input name = "search" type="text" placeholder="wyszukaj miasto">
            <button class = "best_places">najwyżej oceniane > </button>
            <button class = "find_route">wyznacz trasę > </button>
            <p> Aktywne filtry </p>
            <div class = "filters">

            </div>
            <div class = "bottom_buttons">
                <button class = "back">back</button>
                <button class = "options">options</button>
            </div>
        </div>
    </div>
</body>
</html>