body{
    margin: 0;
}

.container{
    display: flex;
    width:100%;
    height: 100%;
    background: transparent radial-gradient(closest-side at 50% 60%, #6e181c 0%, #000000 200%, #F7FF00 600%);
}

.place{
    display: flex;
    background: transparent radial-gradient(closest-side at 50% 50%, #ffffff2b 0%, #3a1e1e 100%) 0% 0% no-repeat padding-box;
    flex-direction: column;
    border: 1px solid black;
    left: auto;
    width: 22vw;
    height: 44vh;
    position: relative;
    text-align: left;
    color: white;
    border-radius: 25px;
}

.name{
    top: 0px;
    font: normal normal normal 35px Segoe UI;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    width: 80%;
    margin-left: 5px;

}

.address{

    font: normal normal bold 15px Segoe UI;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    height: 10%;
    margin-bottom: 1px;
    left: auto;
    margin-left: 5px;
}

.descryption{

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 100%;
    left: auto;
    margin-left: 5px;
}

.score{
    position: absolute;
    right:20%;
    margin-left: 5px;
}

.tag{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
}

section {
    width: 100%;
    height: 90vh;
    padding: 2em;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    overflow: auto;
    padding-left: 2em;
    padding-right: 2em;
}

section img{
    width: 22vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 10px;
}

@media only screen and (max-device-width: 1200px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }

    .left_bar{
        /*TODO: to trzeba zmieniac na unset w js*/
        display: flex;
    }
}
@media only screen and (max-device-width: 800px) {
    section {
        grid-template-columns: repeat(1, 1fr);
    }

    .descryption{
        font: normal normal normal 25px Segoe UI;
    }

    section img{
        width: 50vw;
        height: 40vh;
        object-fit: cover;
        border-radius: 10px;
    }

    .address{
        width:100vw;
    }

    #place{
        width: 30vw;
        margin:1em;
    }
}

@media only screen and (max-device-width: 810px) {
    .checkbox input{
        width: 1em;
        height: 1em;
        cursor: pointer;
        border-radius: 25px;
        background: #CC1E25;
    }

    .address{
        font-size: 23px;
        width: 45vw;
    }

    #place{
        width: 45vw;
        margin:1em;
    }

    .places{
        margin-right: 50px;
    }

    section img {
        width: 45vw;
        height: 20vh;
        object-fit: cover;
        border-radius: 10px;
    }

    .places{
        width: 50vw;
    }

    section{
        width:unset;
    }

    .checkbox input{
        font: normal normal bold 25px Clarendon;
    }

    .checkmark{
        font-size:38px;
    }

    input{
        font-size:38px;
    }

    .filters{
        height: 70%;
    }

    .left_bar {
        width: 400px;
        height: 100vh;
    }
}