body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: transparent radial-gradient(closest-side at 30% 50%, #CC1E25 11%, #000000 170%);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.city{
    height: auto;
}

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
/*
    width: 40vw;
    height: 50vh;
*/
    width: 140%;
    background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF 0%, #421D1D 170%) 0% 0% no-repeat padding-box;
    box-shadow: 11px 11px 99px #090100F2;
    border-radius: 129px;
}

button{
    height: 2.5em;
    width: 50%;
    font: normal normal normal 35px/47px Segoe UI;
    letter-spacing: 0px;
    color: #FFFEFE;
    margin-bottom: 1em;
    background: #CC1E25 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 25px;
}

input{
    border: none;
    background-color: transparent;
    font: normal normal normal 30px/47px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
    border-bottom: 1px solid #707070;
    margin-bottom: 1em;
    padding: 0.5em;
}

p{
    font: normal normal normal 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #707070;
}

.no-valid{
    border: 1px solid red;
    outline: none;
}

.messages{
    font: normal normal bold 25px Segoe UI;
    background: lightcoral;
}

@media only screen and (max-device-width: 600px){

    .container{
        background: transparent linear-gradient(180deg, #000000 0%, #CC1E25 100%) 0% 0% no-repeat padding-box;
        flex-direction: column;
    }

    *{
        font-size: 35px;
    }

    .login_container {
        width: 80%;
        height: 40%;
    }

    .logo{
        width: 500px;
    }

    input{
        margin: 0;
    }

    button{
        margin: 0.5em;
    }
    
    form{
        height: auto;
        width: 100%;
        margin:auto;
    }
}

@media only screen and (max-device-height: 720px) {
    .container{
        justify-content: unset;
    }
}