body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.marker {
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;
}

.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
}

.map_buttons{
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    align-items: end;
}

.map_buttons button{
    pointer-events: all;
    box-shadow: 2px 3px 99px #00000029;
    width: 100px;
    height: 100px;
    border: 5px solid #CC1E25;
    border-radius: 50px;
    margin: 1em;
}

.map_buttons button:hover {
    cursor: pointer;
    background: #CC1E25;
}

.more{
    position: absolute;
    display: none;
    box-shadow: 2px 3px 99px #00000029;
    width: 80px;
    height: 80px;
    border: 5px solid #CC1E25;
    border-radius: 50px;
    top: 0;
    left: 0;
    margin: 1em;
}

input{
    pointer-events: all;
}

textarea{
    pointer-events: all;
}

form{
    position:absolute;
    display: unset;
    width:40vh;
    bottom: 0;
    z-index: 1;
    background: transparent linear-gradient(180deg, #352626 0%, #D3121AF0 42%, #C51017 63%, #421D1D 100%) 0% 0% no-repeat padding-box;
}

form button{
    justify-content: space-between;
}

@media only screen and (max-device-width: 800px) {
    .map_buttons button {
        width: 80px;
        height: 80px;
        border: 5px solid #CC1E25;
        margin-left: 0;
    }

    .more{
        display: unset;
    }
}
